.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 430px;
    min-height: 330px;
    background-color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: black;
    padding: 34px 36px 37px 36px;
}
.popup__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
}
.popup__form {
    display: flex;
    margin: 54px 0 0 0;
    flex-direction: column;
}
.popup__input {
    display: block;
    font-family: inherit; 
    max-width: 358px;
    padding: 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: white;
    margin: 0 0 30px 0;
    outline: none;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.popup__input:nth-of-type(2) {
    margin-bottom: 0px;
}
.popup__save-button {
    width: 358px;
    height: 50px;
    background-color: black;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    margin-top: 48px;
    border: none;
}
.popup__close-button {
    position: absolute;
    top: calc(50% - 214px);
    left: calc(50% + 223px);
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../image/popup/popup__close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 0;
    appearance: none;
    border: none;
}
.popup_opened {
    display: flex;
}
@media screen and (max-width: 576px){
    .popup__container {
        max-width: 282px;
        min-height: 322px;
        padding: 25px 22px;
    }
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
    .popup__form {
        margin-top: 75px;
    }
    .popup__input {
        max-width: 238px;
    }
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin-top: 59px;
        font-size: 14px;
        line-height: 17px;
    }
    .popup__close-button {
        top: calc(50% - 208px);
        left: calc(50% + 121px);
        width: 20px;
        height: 20px;
    }
}