.popup__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 430px;
    background-color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: black;
    padding: 34px 36px 37px 36px;
    margin: auto;
}
@media screen and (max-width: 576px){
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}