.profile {
    display: flex;
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: white;
    justify-content: space-between;
}
.profile__user {
    display: flex;
}
.profile__avatar {
    margin: 0;
    max-width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.profile__info {
    display: flex;
    margin: 22px 0 0 30px;
    max-width: 336px;
}
.profile__user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}
.profile__name {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    max-width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profile__about-user {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profile__edit-button {
    margin: 15px 0 34px 18px;
    width: 24px;
    height: 24px;
    padding: 0;
    appearance: none;
    border: 1px solid white;
    background-color: black;
    background-image: url("../../image/profile/profile__edit-button-image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}
.profile__add-button {
    width: 150px;
    height: 50px;
    margin: auto 0;
    padding: 0;
    appearance: none;
    border: 2px solid white;
    background-color: black;
    background-image: url("../../image/profile/profile__add-button-image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}
@media screen and (max-width: 992px){
    .profile {
        padding-top: 42px;
        max-width: 282px;
        flex-direction: column;
    }
    .profile__user {
        flex-direction: column;
    }
    .profile__avatar {
        margin: 0 auto;
    }
    .profile__info {
        margin: 26px 0 0 0;
        max-width: 100%;
    }
    .profile__user-info {
        margin: 0 0 0 46px;
        text-align: center;
    }
    .profile__name {
        margin-bottom: 14px;
        max-width: 189px;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }
    .profile__about-user {
        font-size: 14px;
        line-height: 17px;
    }
    .profile__edit-button {
        margin: 8px 19px 28px 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
    .profile__add-button {
        width: 100%;
        margin: 36px 0 0 0;
        background-size: 16px 16px;
    }
}