.elements {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(282px,1fr));
    justify-items: center;
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 51px;
}
.elements__element {
    max-width: 100%;
    max-height: 361px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
}
.elements__photo {
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 10px 10px 0 0;
}
.elements__description {
    display: flex;
    max-width: 246px;
    margin: 25px 15px 31px 21px;
    padding-right: 10px;
    justify-content: space-between;
}
.elements__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.elements__like-button {
    width: 22px;
    height: 19px;
    padding: 0;
    appearance: none;
    border: none;
    background-color: white;
    margin: auto 0;
}
.elements__like-button-image {
    width: 100%;
}
